<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="card">
      <div class="card-body text-center">
        <img class="img-fluid" src="./assets/img/lider.png" alt="" width="96px" height="96px">
        <p>seleccione esta opción si usted es persona natural.</p>
        <button type="button" class="btn btn-outline-primary">INICIAR</button>
      </div>
    </div>
  </div>
    <div class="col-6">
      <div class="card">
        <div class="card-body text-center">
          <img class="img-fluid" src="./assets/img/equipo.png" alt="" width="96px" height="96px">
          <p>seleccione esta opción si usted es persona jurídica.</p>
          <button type="button" class="btn btn-outline-primary">INICIAR</button>
        </div>
      </div>
    </div>
  </div>

  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
    <label class="form-check-label" for="flexCheckDefault">
      Autorizo el <a href="">Tratamiento de mis datos personales</a> y autorizo <a href="">Términos y condiciones</a> de la página web.
    </label>
  </div>
</div>
